:root {
  --primary-color: #960306; /* メインカラー (深い赤) */
  --bg-color: #e2d4bf; /* 背景色 (ベージュ) */
  --secondary-color: #969696; /* サブカラー (グレー) */
  --text-color: #343a40; /* 文字色 (濃いグレー) */
  --heading-font: "Noto Serif JP", serif;
  --body-font: "Noto Sans JP", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: var(--heading-font);
  font-weight: 700;
  letter-spacing: 0.05em;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.navbar {
  background-color: #fff !important;
}

.navbar-brand {
  color: var(--primary-color) !important;
  font-size: 1.8rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #c80409; /* 少し明るい赤 */
  border-color: #c80409;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}

#hero {
  background-color: var(--primary-color);
  padding: 8rem 0;
}

section {
  padding: 6rem 0;
}

#policy,
#about {
  background-color: #fff;
}

.theme-card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}

.theme-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.theme-card h3 {
  font-size: 1.2rem; /* Adjusted for better visual hierarchy */
  font-weight: 700;
  margin-bottom: 0;
}

footer {
  background-color: var(--primary-color);
}

.message-content p {
  font-weight: 700; /* フォントを太くする */
  line-height: 2;   /* 行間を少し広げて読みやすくする */
}

/* --- Media Queries --- */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  #hero {
    padding: 6rem 0;
  }

  #hero h1.display-3 {
    font-size: 2.5rem;
  }

  section {
    padding: 4rem 0;
  }
}
